{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>patient</title>
</head>
<body>
    {% block content%}
        <p type="button" class="btn btn-secondary"> Patient : {{ patient.first_name }} {{ patient.last_name }}</p>
        <br>
        <p type="button" class="btn btn-light"> Visits :</p>
            <ul class="list-group list-group-flush list-group-numbered">
                {% for visit in visits %}
                    <li class="list-group-item"> {{ visit.entry_date }}  :  {{ visit.problem }}</li>
                {% empty %}
                    <p class="list-group-item"> there is no visit for this patient</p>
                {% endfor %}
            </ul>
    {% endblock content %}
</body>
</html>